[Desktop Entry]
Type=Application
Name=Sigil
Comment=ePUB file editor
X-AppImage-Version="${APPIMAGE_FULL_VERSION}"
TryExec=sigil
Exec=sigil %F
Icon=sigil
Categories=Office;
MimeType=application/epub+zip;