[Desktop Entry]
Type=Application
Name=Sigil
Comment=ePUB file editor
Exec=sigil %F
Icon=sigil
Categories=Office;FileTools;Qt;Viewer;TextTools;TextEditor;Utility;
Keywords=epub;Book;
MimeType=application/epub+zip;
