name: Build Sigil on Windows

on:

  workflow_dispatch:
  
  push:
    branches: [ master ]
    tags-ignore:
      - '**'
    paths-ignore:
    - 'docs/**'
    - 'installer/win_installer_note.txt'
    - 'ChangeLog.txt'
    - 'COPYING.txt'
    - 'version.xml'
    - '.retired_travis.yml'
    - '**/**.md'

  pull_request:
    branches: [ master ]
    tags-ignore:
      - '**'
    paths-ignore:
    - 'docs/**'
    - 'installer/win_installer_note.txt'
    - 'ChangeLog.txt'
    - 'COPYING.txt'
    - 'version.xml'
    - '.retired_travis.yml'
    - '**/**.md'

env:
  BUILD_TYPE: Release
  DOWNLOADQT: https://github.com/dougmassay/win-qtwebkit-5.212/releases/download/v5.212-1/Qt6.10.2ci_x64_VS2026.7z
  QT: Qt6.10.2
  INNO: C:\Program Files (x86)\Inno Setup 6
  PYTHON: \hostedtoolcache\windows\Python\3.14.2\x64

jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: windows-2025-vs2026

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.14.2
      uses: actions/setup-python@v5
      with:
        python-version: 3.14.2

    - name: Cache Custom Qt
      uses: actions/cache@v4
      with:
        path: ${{runner.workspace}}\${{env.QT}}
        key: ${{ runner.os }}-qtdeps-${{hashFiles('**/reset-win-caches.txt')}}
  
    - name: Install Custom Qt
      shell: cmd
      run: |
        if not exist ${{runner.workspace}}\%QT% cd ${{runner.workspace}} & curl -L -o qt.7z "%DOWNLOADQT%" & 7z x qt.7z -y

    # Add this after windows-latest migrates to windows-2025
    - name: install InnoSetup
      shell: cmd
      # Install if not already installed otherwise do nothing if already latest
      run: choco upgrade innosetup -y --no-progress

    - uses: lukka/get-cmake@latest

    - name: Install pip dependencies
      shell: cmd
      run: |
        set PATH=C:\%PYTHON%;C:\%PYTHON%\Scripts;%PATH%
        python -m pip install --upgrade pip
        pip install six==1.17.0
        pip install html5lib==1.1
        pip install regex==2026.1.15
        pip install css-parser==1.0.10
        pip install cssselect==1.4.0
        pip install urllib3==2.6.3
        pip install certifi==2026.1.4
        pip install dulwich==1.0.0
        pip install chardet==5.2.0
        pip install pillow==12.1.0
        pip install lxml==6.0.2
        pip install shiboken6==6.10.2
        pip install PySide6==6.10.2

    - name: Create Build Environment
      shell: cmd
      run: |
        set PATH=${{runner.workspace}}\%QT%\bin;%PATH%
        echo ${{runner.workspace}}
        mkdir ${{runner.workspace}}\build
        cd ${{runner.workspace}}\build
        qmake -v
        python --version

    - name: Build Sigil
      shell: cmd
      working-directory: ${{runner.workspace}}\build
      run: |
        set PATH=C:\%PYTHON%;${{runner.workspace}}\%QT%\bin;%PATH%
        call "C:\Program Files\Microsoft Visual Studio\18\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
        cmake %GITHUB_WORKSPACE% ^
        -G "Ninja" ^
        -DTRY_NEWER_FINDPYTHON3=1 ^
        -DPython3_EXECUTABLE="C:\%PYTHON%\python.exe" ^
        -DCMAKE_BUILD_TYPE=%BUILD_TYPE% ^
        -DQt6_DIR="${{runner.workspace}}\$QT\lib\cmake\Qt6"
        ninja -j2

    - name: Build Installer
      shell: cmd
      working-directory: ${{runner.workspace}}\build
      if: contains(github.event.head_commit.message, '[deploy]') || github.event_name == 'workflow_dispatch'
      run: |
        set PATH=C:\%PYTHON%;%INNO%;${{runner.workspace}}\%QT%\bin;%PATH%
        call "C:\Program Files\Microsoft Visual Studio\18\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
        ninja -j2 makeinstaller

    # RIP gdrive
    #- name: Upload to gdrive
    #  shell: cmd
    #  working-directory: ${{runner.workspace}}\build
    #  if: "contains(github.event.head_commit.message, '[deploy]') && github.event_name != 'pull_request'"
    #  run: |
    #    set PATH=C:\%PYTHON%;${{runner.workspace}}\build;%PATH%
    #    python %GITHUB_WORKSPACE%\ci_scripts\newgddeploy.py

    - uses: actions/upload-artifact@v4
      if: contains(github.event.head_commit.message, '[deploy]') || github.event_name == 'workflow_dispatch'
      with:
        name: sigil-installer
        path: ${{runner.workspace}}\build\installer\*.exe
        retention-days: 5
